.layer-top
  %header.site-header{:role => "banner"}
    %h1.site-name
      = link_to 'Trim', root_path

    %nav.primary-navigation{:role => "navigation"}
      - cache @section do
        = #navigation :global, :depth_start => 1, :depth_end => 1

    %a#menu-trigger.menu{:href => "javascript:void(0);"}
      %span.icon-hand
      %span
        Menu

    = link_to root_path do
      = image_tag 'logo.png', :class => 'main-logo'

  - if flash.any?
    .messages-container
      .container.messages
        = notice_and_alert_messages if flash.any?
