:ruby
  options = { 
    :list_element => :ol, 
    :root_attributes => { :id => 'model_nested_sortable' },
    :process_item_attributes => lambda { |item, attributes, level, has_children|
      attributes[:id] = "item_#{item.id}"
    },
  }

= form_tag '', :method => :get, :class => 'horizontal' do
  = select_tag :root, options_from_collection_for_select(Trim::Nav.root_navs, :slug, :title, @nav.slug)
  %button.btn.btn-info{:type => "submit"}
    Submit

= tree_to_html @root, options do |item, level|
  .item= item.title

= javascript_include_tag 'jquery.mjs.nestedSortable.js'
= javascript_include_tag 'rails_admin/ra.model_nested_sortable.js'