= semantic_form_for @setting, :url => settings_path, :html => { :class => 'form-horizontal' } do |form|

  = tabs_for do |tab|

    - tab.create 'tab_contact', 'Contact Information' do

      = form.inputs :name => 'Contact Info' do
        = form.input :phone_number
        = form.input :contact_email

      = form.inputs :name => 'Social Media' do

        = form.input :facebook_url
        = form.input :twitter_name

    - tab.create 'tab_location', 'Location Information' do

      = form.inputs :name => "Address" do
        = form.input :street_address
        = form.input :city
        = form.input :state
        = form.input :zip_code

    - tab.create 'tab_meta', 'Meta Information' do

      = form.inputs :name => 'Meta Information' do
        = form.input :meta_keywords
        = form.input :meta_description

    - tab.create 'tab_emails', 'Emails' do

      - Trim::Setting.email_configuration.each do |name, params|

        - placeholders = "Placeholders: #{Trim::Setting.email_placeholder_string(name)}"

        = form.inputs :name => name.to_s.humanize do
          = form.input "#{name}_subject".to_sym, :label => 'Subject', :input_html => { :size => 50 }
          = form.input "#{name}_body".to_sym, :as => :text, :label => 'Body', :input_html => { :cols => 50, :rows => 10 }, :hint => placeholders

  = form.actions do
    = form.action :submit, :button_html => {:value => 'Update Settings'}

  :javascript
    $('#tabs').tabs();
